<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>check it work or not</title>
  </head>
  <body>
    <h2>{{name}}</h2>
    <h3>{{age}}</h3>
    {{ message }}
    <h2>hello world hbs woring fine ohkk</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam iusto unde fugiat excepturi cupiditate, enim veritatis libero at officia aperiam provident, in itaque molestiae! Quam tempora repellat laborum itaque aperiam.</p>
  </body>
</html>